.statline {
	padding-top: 20px;
	height: 55px;

	display: grid;
	grid-template-columns: 110px 110px 110px;
	grid-template-areas:
		"total  active completed";

	text-align: center;
	font-style: italic;

	transition: 0.4s;
}

.total,
.completed,
.active {
	padding-top: 10px;

	border-left: 1px solid var(--color-gray-2);
	border-right: 1px solid var(--color-gray-2);
	border-bottom: 1px solid var(--color-gray-2);
}

@media (max-width: 500px) {
	.statline {
		padding-top: 10;
		height: 80px;

		display: block;
	
		text-align: left;
	}

	.total,
	.completed,
	.active {
		padding-top: 5px;
		padding-left: 5px;

		border: none;		
	}	
}


