@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	--color-black: #24292f;
	--color-blue: #218bff;
	--color-white: #ffffff;
	--color-gray: #f6f8fa;
	--color-gray-1: #eaeef2;
	--color-gray-2: #d0d7de;
	--max-width: 1000px;
	--max-todos-width: 800px;
	--margin-top: 60px;
	--margin-top-input: 100px;
	--margin-bottom: 20px;
}

#root {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: normal;
	color: var(--color-black);
	background-color: var(--color-white);

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
